
@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter-VariableFont_slnt\,wght.ttf') format("truetype");
}

/*all*/
header {
    width: 100%;
    height: 350px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex_top {
    height: 80%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

  
.logo {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.on_sale {
    background-color: #fba7a2;
    font-family: inter, Verdana;
    font-size: 4.5em;
}

.cart {
    color: #fba7a2;
}

.sale_button {
    color: #AFFFB3;
}

.cart_button {
    background-color: #AFFFB3; 
}
.search_section {
    border-radius: 20px;
    max-width: 555px;
    margin: 50px auto;
    }

.search {
    display: block;
    width: calc(100% - 24px);
    font-size: 18px;
    font-weight: 600;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 20;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
}

.search_icon .fa-solid {
    background-color: none;
    position:relative;
    left:20px;
    top:-8px;
    z-index:999;
}
p h1 h2 h3{
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;    
}
.cart { 
    font-size: 2em;
}

body {
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eeeeee;
    
}
   
footer a {
    height: 100%;
    width: auto;
    border-radius: 20px;
    max-width: 230px;
    max-height: 120px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    background-color: #5b3030;
    color: #fdfcfd;
}

.footer_button {
   min-width: 230px;
   min-height: 120px;
   justify-content: center;
}

footer p {
    right: 0px;
}

.picture {
    border-radius: 20px;
}

/*home*/

.seasons {
    display: inline-grid;
    height: 100%;
    width: 100%;  
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;  
 }

.autumn .winter .spring .summer {
    display: inline;
    border-radius: 20px;
}

.cta_picture {
    display: inline-block;
}

/*about*/

.about_page {
   background-image: url(../images/Girlandthestorm.jpg);
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   justify-items: center;
   background-size:cover;
   text-align: center;
   
}

.about_elements {
    display: inline-block;
    background-color: #fdfcfd;
    opacity: 50%;
    max-width: 80%;
    min-width: 80%;
    min-height: 20vh;
    border-radius: 20px;
    text-align: left;
    
    
}

/*Return*/

.return {
    font-family: inter, Verdana;
    display: block;
    padding-left: 10%; 
    background-color: #d9d9d9;
}

.return_form {
   
    
}

textarea {
    display: block;
    min-width: 400px;
    min-height: 400px;
    width: fit-content;
    text-align: top;
   }

/*contact*/

.contact_page {
    display: grid; 
    grid-template-columns: 1;
    justify-content: center;
}

.contact_elements {
    display: inline-grid;
    max-width: 1000px;
    min-width: 1000px;
    min-height: 20%;
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 20px;
}



/*season pages husk å legge rett html på alle*/

.jackets_sale {
    display: grid;
    height: 100%;
    width: 100%;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    grid-gap: 500px;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    background-color: #ffffff;
    color: #6e566e;
    
}

.product_picture {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    background-color: #d9d9d9;
}

.gender {
    max-width: 300px;
    max-height: 150px;
    background-color: #d9d9d9;
    border-radius: 20px;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-align: center;
    
}

.product_link {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


